<h1>Are you ready to workout?</h1>

<h2><%= @exercise["exercise_name"] %></h2>

<% if @exercise["measurement_type"] == 'reps' %>
    <p>Are you ready to beat your reps?</p>
<% else %>
    <p>Are you ready to beat your previous time?</p>
<% end %>

<form action="/live_workout/<%=@exercise["exercise_id"]%>" method="get">
    <button>begin</button>
</form>

<h3>Your previous best</h3>
<% repsArray = [] %>
<% datesArray = [] %>
<% progressPlot = {} %>
<% @progress.each do |progress|%>
<div class="entry">
    <% datesArray.push(progress["date_time"].to_s) %>
    <% repsArray.push(progress["reps"].to_i) %>
    <% progressPlot[Date.parse(progress["date_time"]).to_s] = progress["reps"].to_i%>
</div>
<% end %>

<%# Add reps instead of replacing them %>

<canvas id="user-progress"></canvas>
<%= area_chart progressPlot %>

<script>
    var userProgress = document.getElementById('user-progress');
    var momentDates = [];
    <%= datesArray %>.forEach(date => {
        momentDates.push(moment(date));
    });
    var progressChart = new Chart(userProgress, {
        type: 'line',
        data: {
            // labels: [moment([2019,11,1]),moment([2019,11,2])], // working
            // labels: [<%=Date.today%>,<%=Date.today + 1%>],
            labels: momentDates,
            datasets: [{
                label: "<%= @exercise["exercise_name"] %>",
                data: <%= repsArray %>
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                }]
            }
        }
    })
</script>
